CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_COMPILER_OPTIMIZATION_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ROBOT_RIGHT_MOTOR_INVERTED=y
CONFIG_ROBOT_YAW_MIN_DEGREES=45
CONFIG_ROBOT_YAW_CENTER_DEGREES=90
CONFIG_ROBOT_YAW_MAX_DEGREES=135
CONFIG_ROBOT_YAW_INVERTED=y
CONFIG_ROBOT_YAW_TRIM_DEGREES=14
CONFIG_ROBOT_PITCH_MIN_DEGREES=60
CONFIG_ROBOT_PITCH_CENTER_DEGREES=90
CONFIG_ROBOT_PITCH_MAX_DEGREES=120
